asgiref
asttokens
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
Django
executing
google_search_results
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pytz
pywin32
pyzmq
regex
requests
scikit-learn
scipy
six
sqlparse
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
